Repository prography-dev/prography-homepage-frontend, pull requests merged in 2023-12, with the labels that each got.

#5 ✨ global color 세팅 및 예시 버튼 생성
  src/app/test/page.tsx
  src/app/test/test.module.scss
  src/styles/const.scss
Labels: Common, feat

#6 ✨ 버튼 컴포넌트 추가
  src/app/page.tsx
  src/components/StyledTest.tsx
  src/components/common/button/Button.scss
  src/components/common/button/Button.tsx
Labels: Common, feat

#9 📦 eslint 설정에 필요한 dependencies 추가
  .eslintrc.js
  .eslintrc.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/app/test/page.tsx
  src/components/StyledTest.tsx
  src/components/common/button/Button.tsx
  tsconfig.json
  yarn.lock
Labels: Common, feat

#11 ✨ Icon 컴포넌트, Header 컴포넌트 개발
  public/assets/logos/logo_prography.svg
  src/app/layout.tsx
  src/app/page.tsx
  src/app/test/page.tsx
  src/app/test/test.module.scss
  src/components/Layout/footer/Footer.module.scss
  src/components/Layout/footer/Footer.tsx
  src/components/Layout/header/Header.module.scss
  src/components/Layout/header/Header.tsx
  src/components/common/button/Button.scss
  src/components/common/button/Button.tsx
  src/components/common/icon/IconArrowDown.tsx
  src/components/common/icon/IconArrowLeft.tsx
  src/components/common/icon/IconArrowRight.tsx
  src/components/common/icon/IconArrowUp.tsx
  src/components/common/icon/IconBehance.tsx
  src/components/common/icon/IconClose.tsx
  src/components/common/icon/IconDown.tsx
  src/components/common/icon/IconGithub.tsx
  src/components/common/icon/IconInstagram.tsx
  src/components/common/icon/IconMenu.tsx
  src/components/common/icon/IconRight.tsx
  src/components/common/icon/LogoAsan.tsx
  src/components/common/icon/index.tsx
  src/styles/global.css
Labels: Common, feat

#14 ✨ routing 테스트
  src/app/page.tsx
  src/app/project/[projectId]/page.tsx
  src/app/project/page.tsx
  tsconfig.json
Labels: Project, feat

#13 📦 axios 모듈 추가
  package.json
  src/utils/axios.ts
  yarn.lock
Labels: Common, feat

#12 메인페이지 타이포 컴포넌트 개발
  package.json
  src/app/page.1280.scss
  src/app/page.scss
  src/app/page.tsx
  src/components/Home/Typo.1280.scss
  src/components/Home/Typo.scss
  src/components/Home/Typo.tsx
  yarn.lock
Labels: feat, Main

#15 ✨ 공통 컴포넌트 완료
  .eslintrc.js
  .eslintrc.json
  .prettierrc
  .prettierrc.js
  package.json
  public/assets/logos/ic_apple.svg
  public/assets/logos/ic_behance.svg
  public/assets/logos/ic_github.svg
  public/assets/logos/ic_google.svg
  public/assets/logos/ic_instagram.svg
  public/assets/logos/logo_prography.svg
  src/app/layout.tsx
  src/app/page.1280.scss
  src/app/page.scss
  src/app/page.tsx
  src/app/project/[projectId]/page.tsx
  src/app/project/page.tsx
  src/app/test/page.tsx
  src/app/test/test.module.scss
  src/components/Home/Typo.1280.scss
  src/components/Home/Typo.scss
  src/components/Home/Typo.tsx
  src/components/Layout/footer/Footer.module.scss
  src/components/Layout/footer/Footer.tsx
  src/components/Layout/header/Header.module.scss
  src/components/Layout/header/Header.tsx
  src/components/StyledTest.tsx
  src/components/common/button/Button.scss
  src/components/common/button/Button.tsx
  src/components/common/icon/IconArrowDown.tsx
  src/components/common/icon/IconArrowLeft.tsx
  src/components/common/icon/IconArrowRight.tsx
  src/components/common/icon/IconArrowUp.tsx
  src/components/common/icon/IconBehance.tsx
  src/components/common/icon/IconClose.tsx
  src/components/common/icon/IconDown.tsx
  src/components/common/icon/IconGithub.tsx
  src/components/common/icon/IconInstagram.tsx
  src/components/common/icon/IconMenu.tsx
  src/components/common/icon/IconRight.tsx
  src/components/common/icon/LogoAsan.tsx
  src/components/common/icon/index.tsx
  src/styles/colors.scss
  src/styles/const.scss
  src/styles/fonts.scss
  src/styles/global.css
  src/utils/axios.ts
  tsconfig.json
  yarn.lock
Labels: Common, feat

#17 ✨ 메인페이지 내 About / One team 컴포넌트 추가
  package.json
  src/app/page.1280.scss
  src/app/page.scss
  src/app/page.tsx
  src/components/Home/About.1280.scss
  src/components/Home/About.scss
  src/components/Home/About.tsx
  src/components/Home/OneTeam.1280.scss
  src/components/Home/OneTeam.scss
  src/components/Home/OneTeam.tsx
  src/components/Home/PageRouterButton.1280.scss
  src/components/Home/PageRouterButton.scss
  src/components/Home/PageRouterButton.tsx
  src/components/common/layout/CommonWrapper.scss
  src/components/common/layout/CommonWrapper.tsx
  src/styles/fonts.scss
  yarn.lock
Labels: feat, Main

#18 ✨ project 내에서 사용할 card 마크업 개발
  public/assets/images/cat.jpg
  src/app/project/page.tsx
  src/components/Layout/header/Header.tsx
  src/components/Project/Modal.scss
  src/components/Project/Modal.tsx
  src/components/Project/ProjectCard.scss
  src/components/Project/ProjectCard.tsx
  src/styles/global.css
Labels: Project, feat

#20 ✨ 페이지 전체 웹 마크업 완료, project 더미데이터 추가
  src/app/project/page.scss
  src/app/project/page.tsx
  src/components/Layout/header/Header.module.scss
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.scss
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardContainer.scss
  src/components/Project/ProjectCardContainer.tsx
  src/components/common/icon/Icon80RoundButton.tsx
  src/styles/colors.scss
  src/styles/const.scss
Labels: Project, feat

#22 🔨 Common wrapper 값 수정
  src/components/common/layout/CommonWrapper.scss
Labels: Common, refactor

#21 ✨ card - modal 연결, header css 세부 수정, data type 분리
  .eslintrc.js
  next.config.js
  src/apis/project.ts
  src/app/project/page.tsx
  src/components/Layout/header/Header.module.scss
  src/components/Layout/header/Header.tsx
  src/components/Project/Modal.scss
  src/components/Project/Modal.tsx
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardContainer.tsx
Labels: Project, feat, refactor

#23 ✨ 모달 개발 중, 글로벌 반응형 폰트 제작
  src/app/layout.tsx
  src/app/project/page.tsx
  src/components/Modal/Modal.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalTitle.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Project/Modal.scss
  src/components/Project/Modal.tsx
  src/components/StyledTest.module.scss
  src/components/StyledTest.tsx
  src/components/common/icon/IconClose.tsx
  src/styles/responsiveFonts.scss
Labels: Common, Project, feat

#24 ✨ 헤더 컴포넌트 모바일 스타일링
  src/app/page.tsx
  src/components/Layout/header/Header.module.scss
  src/components/Layout/header/Header.tsx
Labels: Common, feat

#27 ✨ 모달 마크업 완료
  public/assets/images/defaultPersonImage.png
  src/components/Modal/Modal.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContents.module.scss
  src/components/Modal/ModalContents.tsx
  src/components/Modal/ModalContents_1280.module.scss
  src/components/Modal/ModalCrew.module.scss
  src/components/Modal/ModalCrew.tsx
  src/components/Modal/ModalCrew_1280.module.scss
  src/components/Modal/ModalTitle.1280.scss
  src/components/Modal/ModalTitle.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Project/ProjectCard.scss
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardContainer.module.scss
  src/components/Project/ProjectCardContainer.tsx
  src/components/common/icon/IconBehance.tsx
  src/components/common/stackTag/StackTag.scss
  src/components/common/stackTag/StackTag.tsx
  src/styles/responsiveFonts.scss
Labels: bug, Project, feat

#29 ✨ RootLayout에 header값 일부 추가
  public/assets/favicon.ico
  src/app/layout.tsx
Labels: Common

#30 ✨ Project list에 페이지네이션 적용, modal data props 적용
  src/app/project/[projectId]/page.tsx
  src/app/project/page.module.scss
  src/app/project/page.tsx
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContents.tsx
  src/components/Modal/ModalCrew.module.scss
  src/components/Modal/ModalCrew.tsx
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/ModalTitle_1280.module.scss
  src/components/Modal/OtherProjects.module.scss
  src/components/Modal/OtherProjects.tsx
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.module.scss
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardContainer.module.scss
  src/components/Project/ProjectCardContainer.tsx
  src/utils/device.ts
Labels: Project, feat

#28 ✨ 메인페이지 프로젝트 컴포넌트 추가
  package.json
  src/app/page.module.scss
  src/app/page.tsx
  src/app/page_1280.module.scss
  src/components/Home/Project.scss
  src/components/Home/Project.tsx
  src/components/Home/ProjectCard.module.scss
  src/components/Home/ProjectCard.tsx
  src/components/Home/ProjectCard_1280.module.scss
  src/utils/formatGeneration.ts
  src/utils/isPcDevice.ts
  yarn.lock
Labels: feat, Main

#32 🔨 GNB css 수정
  src/components/Layout/header/Header.module.scss
  src/components/Layout/header/Header.tsx
  src/components/common/button/Button.scss
Labels: bug, Common

#34 ✨ 후원사 컴포넌트 추가
  public/assets/logos/donation.svg
  src/app/contact/page.module.scss
  src/app/contact/page.tsx
  src/app/page.module.scss
  src/app/page.tsx
  src/components/Home/Typo_1280.module.scss
  src/components/common/donation/AsanDonation.module.scss
  src/components/common/donation/AsanDonation.tsx
  src/components/common/donation/AsanDonation_1280.module.scss
Labels: Common, Contact, Main

#33 ✨페이지네이션 추가, other projects props 추가, footer 및 modal 리팩토링
  next.config.js
  public/assets/images/aria_detail.png
  src/app/project/page.tsx
  src/components/Layout/footer/Footer.module.scss
  src/components/Layout/footer/Footer.tsx
  src/components/Layout/footer/footerLink.ts
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContents.module.scss
  src/components/Modal/ModalCrew.module.scss
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/ModalTitle_1280.module.scss
  src/components/Modal/Modal_1280.module.scss
  src/components/Modal/OtherProjects.module.scss
  src/components/Modal/OtherProjects.tsx
  src/components/Modal/OtherProjects_768.module.scss
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.module.scss
  src/components/Project/ProjectCardContainer.module.scss
  src/components/common/icon/Icon64PageButton.tsx
  src/components/common/icon/Icon80RoundButton.tsx
  src/hooks/useMobile.ts
  src/hooks/usePc.ts
  src/hooks/useTablet.ts
  src/styles/responsiveFonts.scss
Labels: Common, Project, feat, refactor

#38 ✨ 서버 api 호출 세팅 및 예시 추가
  next.config.js
  src/apis/statistics.ts
  src/components/Home/About.tsx
  src/utils/axios.ts
Labels: Common, feat, Main

#39 ✨ proxy 설정 및 통계값 api 연동
  next.config.js
  src/apis/statistics.ts
  src/components/Home/About.tsx
  src/utils/axios.ts
Labels: Common, Main

#36 🔨 1차 메인페이지&common qa 요청사항
  src/app/contact/page.module.scss
  src/app/page_1280.module.scss
  src/components/Home/About.module.scss
  src/components/Home/OneTeam.module.scss
  src/components/Home/OneTeam_1280.module.scss
  src/components/Home/PageRouterButton_1280.module.scss
  src/components/Layout/header/Header.module.scss
  src/components/Layout/header/Header.tsx
  src/components/common/button/Button.scss
  src/components/common/donation/AsanDonation.tsx
Labels: Common, Main, refactor

#31 ✨ about 페이지 상단 + Crew 소개 작업
  src/apis/member.ts
  src/app/about/page.module.scss
  src/app/about/page.tsx
  src/components/About/CrewList.module.scss
  src/components/About/CrewList.tsx
  src/components/About/MEMBER_DATA.ts
Labels: About, feat

#37 🔨 메인페이지 프로젝트 컴포넌트 기능 추가 및 리팩토링
  src/components/Home/Project.tsx
  src/components/Home/ProjectCard.module.scss
  src/components/Home/ProjectCard.tsx
  src/hooks/useMobile.ts
  src/hooks/usePc.ts
  src/hooks/useTablet.ts
  src/utils/debounce.ts
  src/utils/isPcDevice.ts
Labels: Main, refactor

#41 🔨 Project, Project Detail QA 반영
  public/assets/logos/ic_apple.svg
  public/assets/logos/ic_behance.svg
  public/assets/logos/ic_github.svg
  public/assets/logos/ic_google.svg
  public/assets/logos/ic_instagram.svg
  src/app/project/page.module.scss
  src/app/project/page.tsx
  src/app/project/page_1280.module.scss
  src/components/Layout/footer/Footer.module.scss
  src/components/Layout/footer/Footer.tsx
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContents.tsx
  src/components/Modal/ModalCrew.module.scss
  src/components/Modal/ModalCrew.tsx
  src/components/Modal/ModalCrew_1280.module.scss
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/Modal_1280.module.scss
  src/components/Modal/OtherProjects.module.scss
  src/components/Modal/OtherProjects.tsx
  src/components/Modal/OtherProjects_768.module.scss
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.module.scss
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardContainer.module.scss
  src/components/common/icon/IconBehance.tsx
  src/components/common/icon/IconGithub.tsx
  src/components/common/icon/IconInstagram.tsx
  src/components/common/icon/index.tsx
  src/utils/contactToEmail.ts
  src/utils/device.ts
Labels: Project, refactor

#40 ✨ One team api 호출 및 서버사이드 렌더링 전환
  next.config.js
  src/apis/part.ts
  src/app/page.module.scss
  src/app/page.tsx
  src/app/page_1280.module.scss
  src/components/Home/About.tsx
  src/components/Home/LandingButton.module.scss
  src/components/Home/LandingButton.tsx
  src/components/Home/OneTeam.tsx
  src/components/Home/Project.tsx
  src/components/Home/Typo.tsx
  src/utils/axios.ts
Labels: feat, Main, refactor

#42 ✨ 프로젝트 api 연동 및 useState 정리, 스켈레톤 로딩 추가
  next.config.js
  src/apis/index.ts
  src/apis/project.ts
  src/app/project/page.tsx
  src/components/Home/Project.tsx
  src/components/Home/ProjectCard.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContents.tsx
  src/components/Modal/ModalCrew.module.scss
  src/components/Modal/ModalCrew.tsx
  src/components/Modal/ModalSkeleton.module.scss
  src/components/Modal/ModalSkeleton.tsx
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardSkeleton.module.scss
  src/components/Project/ProjectCardSkeleton.tsx
  src/components/Project/ProjectComponents.module.scss
  src/components/Project/ProjectComponents.tsx
  src/components/Project/ProjectComponents_1280.module.scss
Labels: Project, feat

#47 ✨ about 세부 스타일 수정 및 API 연동
  public/assets/images/culture-img-1.png
  public/assets/images/culture-img-2.png
  public/assets/images/culture-img-3.png
  public/assets/images/culture-img-4.png
  public/assets/images/culture-img-5.png
  public/assets/images/culture-img-6.png
  public/assets/images/culture-img-7.png
  src/apis/member.ts
  src/app/about/page.module.scss
  src/app/about/page.tsx
  src/app/about/page_1280.module.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/components/About/CrewList.module.scss
  src/components/About/CrewList.tsx
  src/components/About/CrewList_1280.module.scss
  src/components/About/Culture.module.scss
  src/components/About/Culture.tsx
  src/components/About/MEMBER_DATA.ts
  src/styles/const.scss
  src/styles/global.css
Labels: About, feat

#45 ✨ gtm 추가 및 metadata 테스트 추가
  global.d.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Home/LandingButton.tsx
  src/utils/triggerGtm.ts
Labels: Common, feat

#48 🔨 햄버거버튼 cursor 추가, font 수정
  src/app/layout.tsx
  src/app/test/page.tsx
  src/components/Layout/header/Header.module.scss
  src/styles/const.scss
  src/styles/global.css
Labels: About, Common, hotfix

#43 ✨ 홈 스케쥴, 상태 api 연동
  src/apis/generation.ts
  src/apis/session.ts
  src/app/page.tsx
  src/components/Home/LandingButton.tsx
  src/components/Home/Schedule.tsx
  src/utils/axios.ts
  src/utils/formatDate.ts
Labels: feat, Main

#46 ✨ 프로젝트 슬라이더 api 연동 및 리팩토링
  src/components/Home/Project.scss
  src/components/Home/Project.tsx
  src/components/Home/ProjectCard.module.scss
  src/components/Home/ProjectCard.tsx
  src/components/Home/ProjectCard_1280.module.scss
  src/components/Home/Typo_1280.module.scss
Labels: feat, Main, refactor

#51 🔨 Modal Crew 내 QA 반영
  src/components/Modal/ModalCrew.module.scss
  src/components/Modal/ModalCrew.tsx
  src/components/common/icon/IconSlash.tsx
  src/styles/global.css
Labels: Project, refactor

#53 ✨ 버튼 font-family 수정
  src/components/Modal/ModalCrew.tsx
  src/components/common/button/Button.scss
Labels: hotfix

#63 ✨ not-found, error 페이지 커스텀
  src/app/[...not_found]/page.module.scss
  src/app/[...not_found]/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
Labels: Common, feat

#62 ✨ contact / about 페이지 기타 스타일링
  public/assets/images/bubble.svg
  src/apis/member.ts
  src/app/about/page.tsx
  src/app/contact/page.module.scss
  src/app/contact/page.tsx
  src/components/About/CrewList.module.scss
  src/components/About/CrewList.tsx
  src/components/About/CrewList_1280.module.scss
  src/components/Contact/FaqList.module.scss
  src/components/Contact/FaqList.tsx
  src/components/common/donation/AsanDonation.module.scss
  src/components/common/donation/AsanDonation.tsx
  src/components/common/donation/AsanDonation_1280.module.scss
Labels: About, Contact

#64 🔨 status에 따른 분기처리 수정
  .eslintrc.js
  src/apis/session.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/About/CrewList.tsx
  src/components/Home/LandingButton.tsx
  src/components/Home/Schedule.tsx
  src/components/Layout/header/HeaderComponent.tsx
Labels: Common, Main, refactor

#65 ✨ socials type에 따른 분기처리, Icon 추가
  src/apis/project.ts
  src/components/Home/Project.tsx
  src/components/Layout/footer/Footer.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalContents.tsx
  src/components/Modal/ModalCrew.tsx
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/ModalTitle_1280.module.scss
  src/components/Modal/OtherProjects.tsx
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectCard.tsx
  src/components/Project/ProjectCardContainer.tsx
  src/components/Project/ProjectComponents.tsx
  src/components/common/icon/GetIconToUrl.tsx
  src/components/common/icon/IconAppStore.tsx
  src/components/common/icon/IconBehance.tsx
  src/components/common/icon/IconGithub.tsx
  src/components/common/icon/IconPlayStore.tsx
  src/components/common/icon/IconUrl.tsx
Labels: Project, feat, refactor

#66 ✨ gtm trigger 추가 및 metadata 추가
  src/apis/project.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/About/CrewList.tsx
  src/components/Contact/FAQ_DATA.ts
  src/components/Contact/FaqList.module.scss
  src/components/Contact/FaqList.tsx
  src/components/Home/Project.tsx
  src/components/Home/Typo.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalCrew.tsx
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/OtherProjects.tsx
  src/components/Project/ProjectComponents.tsx
  src/components/common/icon/GetIconToUrl.tsx
  src/components/common/icon/IconAppStore.tsx
  src/components/common/icon/IconBehance.tsx
  src/components/common/icon/IconGithub.tsx
  src/components/common/icon/IconInstagram.tsx
  src/components/common/icon/IconPlayStore.tsx
  src/components/common/icon/IconUrl.tsx
  src/components/common/icon/index.tsx
  src/styles/global.css
  src/utils/contactToEmail.ts
Labels: About, Common, Project, feat, Main

#68 ✨ contact 페이지 FAQ api 적용
  src/apis/faq.ts
  src/components/Contact/FAQ_DATA.ts
  src/components/Contact/FaqList.tsx
Labels: Contact, feat

#69 🔨 qa 및 개발요청사항 수정
  src/components/About/Culture.module.scss
  src/components/Layout/header/HeaderComponent.module.scss
  src/components/Layout/header/HeaderComponent.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/OtherProjects.module.scss
  src/components/Modal/OtherProjects.tsx
  src/components/Project/ProjectCard.module.scss
  src/components/Project/ProjectCardSkeleton.module.scss
  src/components/common/icon/Icon64PageButton.tsx
  src/components/common/icon/Icon80RoundButton.tsx
Labels: Common, Project, Main, refactor

#70 🔨 2차 QA 적용, FAQ api 적용
  src/apis/faq.ts
  src/components/About/Culture.module.scss
  src/components/Contact/FAQ_DATA.ts
  src/components/Contact/FaqList.tsx
  src/components/Layout/header/HeaderComponent.module.scss
  src/components/Layout/header/HeaderComponent.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalTitle.module.scss
  src/components/Modal/ModalTitle.tsx
  src/components/Modal/OtherProjects.module.scss
  src/components/Modal/OtherProjects.tsx
  src/components/Project/ProjectCard.module.scss
  src/components/Project/ProjectCardSkeleton.module.scss
  src/components/common/icon/Icon64PageButton.tsx
  src/components/common/icon/Icon80RoundButton.tsx
Labels: Common, refactor

#72 📝 GNB 로고 수정
  public/assets/logos/logo_prography.png
  public/assets/logos/logo_prography.svg
  src/components/Layout/header/HeaderComponent.tsx
Labels: Common, hotfix

#73 🔨 푸터 링크 추가 및 gtm trigger 이벤트 수정
  src/app/page.tsx
  src/components/Contact/FaqList.tsx
  src/components/Home/LandingButton.tsx
  src/components/Home/OneTeam.tsx
  src/components/Layout/footer/Footer.tsx
  src/components/Layout/header/Header.tsx
Labels: Common, Contact, refactor

#74 🔨 FAQ content 커서 변경
  src/components/Contact/FaqList.module.scss
Labels: Contact, refactor

#75 🔨 endTime 수정 및 api querystring 수정
  src/apis/session.ts
  src/utils/formatDate.ts
Labels: Main, refactor

#76 ✨ gnb button gtm trigger 추가
  src/components/Layout/header/HeaderComponent.tsx
Labels: Common

#77 🔨 socials order 기준 정렬
  src/apis/project.ts
  src/components/Modal/ModalTitle.tsx
  src/components/Project/PROJECT_DATA.ts
  src/components/Project/ProjectComponents.tsx
  src/components/common/icon/GetIconToUrl.tsx
Labels: Project, refactor

#79 🔨 랜딩버튼 form만 열리도록 수정
  src/components/Home/LandingButton.tsx
Labels: Main, hotfix

#80 🔨 랜딩버튼 form만 열리도록 수정
  src/components/Home/LandingButton.tsx
Labels: Main, hotfix
