Repository prography-dev/prography-homepage-frontend, pull requests merged in 2024-01, with the labels that each got.

#83 🔨 trigger key값 수정
  src/components/About/CrewList.tsx
  src/components/Modal/OtherProjects.tsx
  src/components/Project/ProjectComponents.tsx
  src/components/common/icon/GetIconToUrl.tsx
Labels: Common, refactor

#85 🔨 트리거 수정
  src/components/Home/Project.tsx
  src/components/Layout/header/HeaderComponent.tsx
Labels: Common

#88 🔨 about culture 텍스트 수정
  src/components/About/Culture.tsx
Labels: About, hotfix

#89 🔨 해커톤 문구 수정
  src/components/About/Culture.tsx
Labels: About, hotfix
